<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content color="primary" padding>
    <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            PRODUCT LAPTOP
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-card class="welcome-card">
              <ion-card-header>
              <!----ion-card-subtitle></ion-card-subtitle-->
                <ion-card-title text-center> LAPTOP GAMING</ion-card-title>
              </ion-card-header>      
              <ion-card-content>
                <p><b> LENOVO IDEAPAD Y700</b></p>
                <p><b>ACER PREDATOR TRITON 900</b></p>
                <p><b>DELL INSPIRON 15 7567</b></p>
                <p><b>ASUS ROG STRIX GL753VD</b> </p>
                <p><b>GIGABYTE AERO 15</b> </p>
              </ion-card-content>
            </ion-card>
            <ion-card class="welcome-card">
                <ion-card-header>
                <!----ion-card-subtitle></ion-card-subtitle-->
                <ion-card-title text-center> LAPTOP DESAIN GRAFIS</ion-card-title>
                </ion-card-header>      
                <ion-card-content>
                  <p><b>DELL INSPIRON 3467</b> </p>
                  <p> <b>LENOVO IDEAPAD 320 AMD A9-9420</b></p>
                  <P><b>ASUS VIVOBOOK Max X441UV-WX092</b></P>
                </ion-card-content>
              
