<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

    <ion-content padding>
 
       <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button color="dark">Rotasi</ion-button>
                    <ion-select value="Toram" okText="Okay">
                      <ion-select-option value="brown">Landscape</ion-select-option>
                      <ion-select-option value="blonde">Portrait</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button color="dark">Bahasa</ion-button>
                <ion-select value="Toram" okText="Okay">
                  <ion-select-option value="brown">Inggris</ion-select-option>
                  <ion-select-option value="blonde">Indonesia</ion-select-option>
                  <ion-select-option value="blonde">China</ion-select-option>
                  <ion-select-option value="blonde">Arab</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button color="dark">Ukuran Teks</ion-button>
                    <ion-select value="Toram" okText="Okay">
                      <ion-select-option value="brown">Small</ion-select-option>
                      <ion-select-option value="blonde">Medium</ion-select-option>
                      <ion-select-option value="blonde">Big</ion-select-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </ion-grid>

               <ion-row>
               <ion-col>
        <ion-button name="simpan" size="medium" color="dark" expand="full">SIMPAN</ion-button>
              </ion-col>
             </ion-row>

</ion-content>
